.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 40px;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  width: 27%;
  align-items: center;
  margin-top: 1.2rem;
}

.title-header {
  display: flex;
  flex-direction: column;
  width: 33.3%
}

.login-header {
  width: 33.3%;
}

.App-title {
  font-size: 2.25em;
}

.title-buttons {
  margin-top: 1.5rem;
}

.App-intro {
  font-size: large;
}

.header-name {
  color: white;
}

.user-name {
  color: white
}

.user-buttons {
  display: flex;
  margin-left: 1.75rem;
}

.clicked-route-button {
  background-color: yellow;
  outline: none;
}

.route-button {
  height: 2rem;
  width: 6rem;
}

.user-fave-button {
  height: 1.5rem;
  width: 6rem;
}

button:hover {
  cursor: pointer;
}